@charset "UTF-8";
/* CSS Document */

.kind {
	width:300px;
	padding-bottom:10px;
}

.kind-in {
	margin:5px 10px 5px;
}

.who {
	padding-bottom:10px;
}

.who-in {
	margin:5px 25px 0;
	float:right;
}

.general {
	width:855px;
	margin:0 13px 10px;
	float:left;
}

.general-bottom {
	color:#FFF;
	font-size:medium;
}

.faculty {
	width:365px;
	margin:10px;
	float:left;
}

.faculty-in {
	margin:5px 10px 5px;
}

.subject {
	width:420px;
	margin:10px 22px 10px 0;
	float:right;
}

#subject-in {
	margin:5px 10px 5px;
}

#subject-in label {
	margin-right:10px;
}

.p-check {
	font-size:17px;
	color:#CCC;
	line-height:17px;
}

.grade {
	width:280px;
	margin:0 10px 10px;
	float:left;
}

.grade-in {
	margin:5px 10px 5px;
}

.name {
	width:505px;
	margin:0 22px 10px 0;
	float:right;
}

.name-in {
	width:150px;
	margin:5px 10px 5px;
}

.hiragana {
	font-size:x-small;
	color:#999;
}

.comment-in {
	width:850px;
	height:45px;
	margin:5px 15px 10px;
}

.submit {
	width:100px;
	margin:20px auto 0 400px;
	float:left;
}

.reset {
	margin:20px 0 0;
	float:right;
}

.kind-q {
	height:20px;
	margin:0 0 5px;
	text-align:center;
	line-height:21px;
	font-weight:bold;
	float:left;
	width:80px;
	background:#009;
	color:#FFF;
	border:solid 1px #FFF;
}

p.name {
	height:20px;
	margin:0 10px 5px;
	line-height:23px;
	font-size:90%;
	float:left;
}

p.comment {
	margin:5px 0;
}

.date {
	font-size:70%;
	line-height:25px;
	float:left;
}

.button-box {
	width:60px;
	float:right;
	text-align:right;
}

.button,
.button-show {
	width:50px;
	height:20px;
	margin-left:5px;
	float:left;
	text-align:center;
	font-size:small;
	line-height:20px;
	border:solid 1px #006;
	text-decoration:none;
	display:block;
}

.button {
	background-color:#FFF;
	color:#006;
}

.button-show {
	background-color:#CA0009;
	color:#FFF;
}
