@charset "UTF-8";
/* CSS Document */

#wrapper {
	width:950px;
	margin:0 auto;
}

.main-chat {
	padding:1px 25px;
	background-image:url(../image/box_body_s1.gif);
}

.box-top {
	width:950px;
	height:25px;
	margin-top:10px;
	background-image:url(../image/box_top_s1.gif);
}

.box-bottom {
	width:950px;
	height:25px;
	margin-bottom:10px;
	background-image:url(../image/box_bottom_s1.gif);
}

.box-top hr,
.box-left hr,
.box-right hr,
.box-bottom hr {
	display:none;
}

.title {
	margin-left:5px;
	float:left;
}

.top a,
.top a:visited {
	width:100px;
	height:20px;
	background-color:#6CF;
	border:solid 1px #000;
	color:#000;
	text-decoration:none;
	line-height:20px;
	display:block;
	float:right;
	text-align:center;
}

.top a:hover {
	background-color:#69F;
	color:#000;
}

.form-space {
	margin:20px 10px 10px;
}

.addr {
	width:800px;
	margin:0 auto;
	font-size:small;
}

.addr label {
	margin-right:10px;
}

.comment {
	width:700px;
	margin:10px auto;
}

.comment textarea {
	width:700px;
	height:50px;
	font-size:medium;
}

.submit {
	width:500px;
	margin:0 auto;
	text-align:center;
}

.submit input {
	width:150px;
}

.card {
	margin:10px 5px;
	padding:10px;
	color:#000;
	background-color:#CFF;
	border:solid 1px #000;
}

.mycard {
	margin:10px 5px;
	padding:10px;
	color:#000;
	background-color:#CCC;
	border:solid 1px #000;
}

.time {
	width:600px;
	margin-top:10px;
	font-size:small;
	float:left;
}

.nameinfo {
	margin-bottom:10px;
	font-size:small;
}

.posi-name {
	font-size:x-small;
}

.button a,
.button a:visited {
	width:70px;
	height:20px;
	margin-left:5px;
	float:right;
	text-align:center;
	font-size:small;
	line-height:20px;
	border:solid 1px #006;
	background-color:#FFF;
	color:#006;
	text-decoration:none;
	display:block;
}

.button a:hover {
	background-color:#999;
}

.newalert a {
	width:600px;
	height:30px;
	margin:10px auto 20px;
	background-color:#6CF;
	border:solid 1px #000;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	display:block;
}

.loadicon {
	width:24px;
	margin:0 auto;

}
.kaku {
color:#ff0000; 
border-left:solid 5px #ff9900;
}

